<html>
    <head>
        
    </head>
    <body>
        <p><%= tagline %></p>
        <% include templates/header %>
        Hi, I am in the index html file
        <% include templates/footer %>
    </body>
</html>
